<br/>
<h4>Your Shopping Cart!</h4>
<form>
  <ul class="list-group" >
       <li *ngFor="let item of cartService.CartItems" class="list-group-item" style="width:50%">
           <div class="form-check">
               <input type="checkbox" class="form-check-input" value="" id="{{item.name}}" [(ngModel)]="item.isChecked" name="isActive">
               <span class="form-check-label" for="exampleCheck1">{{ item.name }} -  {{item.quantity}} - {{item.price}}</span>
           </div>
       </li>
   </ul>
   <br/>
   <span>Subtotal = {{cartService.subtotal}} </span>
   <br/>
   <button class="btn btn-primary" type="button" (click)="onClickDelete()" name="delete">
       Delete from Cart
    </button>
    &nbsp;
    <button class="btn btn-primary" type="button" (click)="onClickSendBack()" name="SendBack">Send Back</button>
    &nbsp;
    <button class="btn btn-primary" type="button" (click)="onClickCheckout()" name="Checkout">Checkout</button>

   </form>
